@charset "UTF-8";

/*
* {
    margin: 0px;
    padding: 0px;
}
*/
body {
    background-color: rgb(44, 44, 107);
    color: white;
    font: normal 14pt arial;
}
.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.input {
    width: 350px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}
.botao {
    width: 150px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}
#morada {
    padding-top: 10px;
}
span {
    padding-top: 10px;
}
